##
## NAMESPACE file for the affxparser package.
##
useDynLib(affxparser)

importFrom("stats", "df")
importFrom("utils", "packageDescription")

##
## export anything w/out a dot in front. (I like to know if it is
## when reading the code public)
##
exportPattern("^[^\\.]")
#exportPattern(".*")
